keras==2.8.0
Keras-Preprocessing==1.1.2
numpy==1.21.5
opencv-contrib-python==4.5.5.64
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
tf-estimator-nightly==2.8.0.dev2021122109

